<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>slot machine mid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE3CF8FA1F9EE66B003CF238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE3CF9101F9EE66B003CF238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE3CF91B1F9EE66B003CF238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
